  <article>
    <header>
      <h1><a href="/<%= @url %>"><%= @title %></a></h1>
      <p class="postdate"><%= @date %></p>
    </header>

<%= @body %>

    <footer>
      © <%= @year %> <a href="http://sivers.org/">Derek Sivers</a>
    </footer>
  </article>

